<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-sm-6">-->
<!--            <div class="contactinfo">-->
<!--                <ul class="nav nav-pills">-->
<!--                    <li><a href=""><i class="fa fa-phone"></i> +84 8 3995 3882</a></li>-->
<!--                    <li><a href=""><i class="fa fa-phone-square"></i> +84 8 3995 3882</a></li>-->
<!--                    <li><a href=""><i class="fa fa-envelope"></i> sales@nhatduysgn.com</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->