<ul>
    <li><a href="https://www.facebook.com/nhatduyltd"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCgjkiEKo43VYaJ9yM6CwMWA"><i class="fa fa-youtube"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
</ul>