body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #1c1c1c;
    background: #ffffff;
}
#headercontent{
}
#logo, #search, #navigation #main-menu{
    width: 1000px;
    margin: 0 auto;
}
#logo a{
    display: block;
    padding: 20px 0;
}
#navigation{
    background: #1f1f1f;
}
#search{
    position: relative;
}
#search-textbox{
    position: relative;
}
#search-keyword{
    border: none;
    padding: 7px 30px 7px 7px;
    display: block;
    width: 200px;
    font-size: 13px;
}
#search-link{
    background: url("../img/search.png") no-repeat scroll center center transparent;
    display: block;
    width: 16px;
    height: 16px;
    padding: 7px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
}
#search form{
    position: absolute;
    top: 22px;
    right: 0;
    margin: 0;
}
#navigation #main-menu ul{
    padding-left: 220px;
}
#navigation #main-menu ul li{
    display: block;
    float: left;
}
#navigation #main-menu ul li + li{
    margin-left: 30px;
}
#navigation #main-menu ul li a{
    color: #ffffff;
    display: block;
    line-height: 15px;
    padding: 30px 0;
    font-size: 15px;
}
#footer{
    background: #f1f1f1;
}
#footercontent{
    width: 1000px;
    margin: 0 auto;
    color: #5b5b5a;
    padding: 20px 0 30px 0;
}
#content{
    width: 1000px;
    margin: 0 auto;
}
#leftcolumn{
    width: 200px;
    float: left;
}
#centercolumn{
    padding-top: 20px;
    width: 780px;
    float: right;
}
#leftcolumn{
    position: relative;
}
#about-us, #tag-module{
    margin-top: 20px;
}
#product-categories h1{
    background: #d7031c;
    padding: 30px 0 30px 20px;
    line-height: 15px;
    font-size: 15px;
    color: #ffffff;
    height: 15px;
    margin: -75px 0 0 0;
}
#product-categories ul li{
    display: block;
    margin-top: 5px;
}
#product-categories ul li a{
    border: 1px solid #cfcfcf;
    display: block;
    padding: 10px 0 10px 20px;
    background: #f2f2f2;
    color: #1c1c1c;
    font-size: 12px;
}
#product-categories ul li a:hover, #product-categories ul li.active a{
    color: #d7031c;
}
#about-us h1, #tag-module-content h1{
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    color: #777777;
}
#filter .input > label{
    margin: 20px 0 10px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    color: #777777;
}
form .submit-btn{
    margin-top: 10px;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    background: none;
}
#tags a.tag{
    margin-right: 5px;
}
#featured-categories{
    margin-top: 20px;
}
#featured-categories ul li{
    display: block;
    float: left;
    width: 250px;
    height: 150px;
    border: 1px solid #cfcfcf;
    position: relative;
}
#featured-categories ul li.first-item{
    margin-right: 7px;
}
#featured-categories ul li.last-item{
    float: right;
}
#featured-categories ul li a.title{
    display: block;
    width: 80px;
    vertical-align: middle;
    float: left;
    padding: 40px 10px 10px 10px;
    color: #1c1c1c;
    font-size: 15px;
}
#featured-categories ul li a.thumb{
    float: right;
}
#featured-categories ul li a.thumb img{
    height: 150px;
}
#featured-categories ul li a.read-more{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #d7031c;
    color: #ffffff;
    line-height: 30px;
}
