* {
	margin: 0;
	padding: 0;
}
body {
	background: #FFFFFF;
	color: #000000;
	font-family: Verdana, Arial;
	font-size: 12px;
}
a {
	color: #0000FF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: brown;
}
img {
	border:none;
}
h1 {
	font-size: 16px;
	margin-bottom: 10px;
}
h2 {
	font-size: 15px;
	margin-bottom: 10px;
}
h3 {
	font-size: 14px;
	margin-bottom: 10px;
}
h4 {
	font-size: 13px;
	margin-bottom: 10px;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
p {
	margin-bottom: 10px;
}
table {	
	margin-bottom: 10px;
}
th {
	padding: 5px;
}
tr {
}
tr:nth-child(even) {
	background: #f9f9f9;
}
td {
	padding: 5px;
}
form {
	margin-bottom: 10px;
}
fieldset {
	border: none;
}
legend {
}
label {
	display: block;
	margin-bottom: 5px;
}
input[type=text], input[type=number], input[type=email], input[type=password], input[type=tel] {
	padding: 5px;
    border: 1px solid #cccccc;
}
input[type=checkbox], input[type=radio] {
	clear: left;
	float: left;
	margin: 0px 5px 0 0;
	width: auto;
}
input[type=submit], button {
	padding: 5px;
    border: 1px solid #cccccc;
}
textarea {
	padding: 5px;
    border: 1px solid #cccccc;
}
select {
	padding: 5px;
    border: 1px solid #cccccc;
}
option {
	padding: 0 3px;
}

.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.clear-left {
	clear: left;
}
.clear-right {
	clear: right;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.center {
	text-align: center;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.w10 { width: 10px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w90 { width: 90px; }
.w100 { width: 100px; }
.w150 { width: 150px; }
.w180 { width: 180px; }
.w200 { width: 200px; }
.w230 { width: 230px; }
.w250 { width: 250px; }
.w300 { width: 300px; }
.w320 { width: 320px; }
.w350 { width: 350px; }
.w400 { width: 400px; }
.w450 { width: 450px; }
.w500 { width: 500px; }
.w550 { width: 550px; }
.w600 { width: 600px; }
.w650 { width: 650px; }
.w700 { width: 700px; }
.w740 { width: 740px; }
.w20p { width: 20%; }
.w15p { width: 15%; }
.w30p { width: 30%; }
.w50p { width: 50%; }
.w75p { width: 75%; }
.w80p { width: 80%; }
.w100p { width: 100%; }
.wauto { width: auto; }
.title {
	font-size: 15px;
	font-weight: bold;
}
.space {
	margin-bottom: 10px;
}
.hint {
	color: #CCCCCC;
	font-size: 11px;
	font-style: italic;
}
.message {
    color: #0000FF;
    margin-bottom: 5px;
}
.cake-error, .cake-debug, .notice, .error, .error-message {
	color: #FF0000;
	margin-bottom: 5px;
}
.success{
	color: #0000FF;
	margin-bottom: 5px;
}
.display-none{
	display: none;
}
.display-block{
	display: block;
}