body {
	background: #FFFFFF;
	color: #333333;
}
#header {
	background: #000000;
	color: #FFFFFF;
    border-bottom: 1px solid #e8e8e8;
	text-align: center;
}
#header  #headercontent{
	text-align: left;
	width: 96%;
	margin: 0 auto;
}
#main {
	text-align: center;
}
#main #maincontent {
	text-align: left;
	width: 96%;
	margin: 0 auto;
	padding: 10px 0;
}
#footer {
    border-top: 1px solid #e8e8e8;
	text-align: center;
	background: #000000;
	color: #FFFFFF;
	padding: 20px 0;
}
#footer #footercontent {
	text-align: left;
	width: 96%;
	margin: 0 auto;
}
a.page-title{
	color: #FFFFFF;
	line-height: 40px;
	font-weight: bold;
    text-decoration: underline;
}
span.welcome{
	color: #FFFFFF;
	line-height: 40px;
}
span.welcome a{
	color: #ffffff;
	text-decoration: underline;
}
form div{
	margin-bottom: 5px;
}
div#maincontent div.user{
	padding: 20px;
	margin: 150px auto;
	width: 500px;
}
div#maincontent div.user form{
	margin: 0;
}
div#maincontent div.user form fieldset > .input{
    border: none;
    height: auto;
    width: auto;
}
div#maincontent div.user form fieldset > .forgot-password, div#maincontent div.user form fieldset > .login{
    float: left;
    margin: 5px 0 5px 10px;
}
div.login-form form div.input label{
	width: 100px;
	margin: 0;
}
div.paging-count{
    float: left;
}
div.paging{
    float: right;
}
div.paging span{
	margin-right: 10px;
}
div.paging span a{
    color: #000000;
}
div.paging span.current{
	color: #d4d4d4;
}
div#maincontent > div.left{
	width: 18%;
}
ul.menu li{
    display: block;
    float: left;
}
ul.menu li a{
    color: #ffffff;
	display: block;
	padding: 0 10px;
    line-height: 40px;
}
ul.menu li:first-child a{
    padding: 0 10px 0 0;
}
div.header-bar{
	padding: 10px;
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
}
div.header-bar div.body-header div.header-bar-title{
	padding-top: 5px;
}
div.header-bar div.body-header div.header-bar-action img{
    width: 24px;
}
div.header-bar div.body-header form{
	margin: 0;
}
div.search form div{
	margin: 0;
}
input[type="submit"], button{
	background: #ffffff;
	border: 1px solid #cccccc;
	color: #000000;
	padding: 5px 10px;
}
input[type="submit"]:hover, button:hover{
	color: #FF0000;
}
table{
	border-collapse: collapse;
}
table tr th{
	background: #e0e0e0;
	color: #000000;
	padding: 15px 5px;
    font-weight: normal;
    border: 1px solid #CCCCCC;
}
table tr th a{
    color: #000000;
    font-weight: normal;
}
table tr td{
	border: 1px solid #CCCCCC;
}
form div.input label{
	display: block;
	text-align: left;
	padding: 5px 5px 5px 0;
	color: #333333;
	margin: 0;
}
form div.checkbox{
	position: relative;
}
form div.checkbox input[type="checkbox"]{
	position: absolute;
	top: 5px;
	left: 160px;
}
form div.input div.error-message{
	font-size: 11px;
	font-style: italic;
}
td input.mark, th input#mark-all{
	margin: 0;
	padding: 0;
}
td input.ordering{
	padding: 2px 5px;
	font-size: 11px;
	border: 1px solid #CCCCCC;
	background: none;
}
div#save-ordering{
	padding-top: 2px;
	cursor: pointer;
}
button#mce_47-open i.mce-caret{
	display: none;
}
form fieldset > .input{
	display: block;
	float: left;
	width: 48%;
	padding: 1%;
	border-bottom: 1px solid #cccccc;
	height: 25px;
}
form fieldset > .input > label{
	display: block;
	float: left;
	width: 120px;
}
form fieldset > .input.textarea{
    float: left;
    display: block;
    clear: both;
	width: 98%;
	border: none;
	padding: 0;
    height: auto;
}
form fieldset > .input.textarea > label{
	float: none;
	display: block;
}
form fieldset > .submit{
	float: left;
	clear: both;
}